.step-circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    cursor: pointer;
  }
  
  .step-circle-active{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    cursor: pointer;
    background-color: white;
    color: black;
  }